{% extends 'layout_edit.html'%}

{% block body%}

<h3>
    <p class="lead">Bienvenidos a la vista editar agenda</p>
</h3>

<div class="container-fluid">
    <form action="/update/{{events.0}}" method="POST">
        <input  type="text" name="eventName" placeholder="Nombre de evento" value="{{ events.1 }}">
        <input type="datetime-local" name="eventDateTime" id="eventDateTime" placeholder="fecha y hora evento"  value="{{ events.2 }}">
        <button type="submit">Guardar</button>
    </div>

</form>
{% endblock %}