{% extends "layout.html" %}

{% block body %}

<p class= "nome">Agenda Proyecto sena Monica Ardila y Darwin Tusarma </p>

<div class="alert alert-succes">
  <strong>Agenda</strong> <p>ADSI</p>
</div>
<div class="login">
  <div class="container">
    <form  class="login-page" action="/ingresar" method="POST">
      <div  class="col-md-5">
        <h3>Inicia sesion</h3>
        <p class="text-muted">
        Complete el siguiente formulario para iniciar sesion en su cuenta.
        </p>
        <div class="form-white">
          <form role="form">
            <div class="input group">
              <input type="email" class="form-control" name="emaillogin" required placeholder="Email"/><br/>
            </div>
           <div class="input group">
              <input type="password" class="form-control"  name="passwordlogin" required placeholder="Password"/><br/>
           </div>
          </form>

          <div class="checkbox">
            <label>
              <input type="checkbox"> Remember me
            </label>
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Login </button><br/>

          <hr>
          
        </div>
      </div> 
    </form> 
  
  <form class="register-form" action="/registrar" method="POST">
    <div class="col-md-2"></div> 
     <div class ="col-md-5">
        <h3 class="text-right-xs">Registra tu cuenta</h3>
          <p class="text-muted">
          Complete el siguiente formulario a continuacion para crear una nueva cuenta.
          </p>
          <div class="form-white">
              <div class="form grup">
                <input type="text"  class="form-control" name="nameregister"  required placeholder="Name"/><br/>
              </div>
              <div class="form grup">
                  <input type="text"  class="form-control"  name="lastnames"  required placeholder="Last_name"/><br/>
                </div>
              <div class="form grup">
                <input type="phoneregister" class="form-control" name="phoneregister" required placeholder="Phone"/><br/>
              </div>
              <div class="form grup">
                <input type="text" class="form-control"  name="ocupationregister"  required placeholder="Ocupation"/><br/>
              </div>
              <div class="form grup">
                <input type="text" class="form-control"  name="ageregister"  required placeholder="Age"/><br/>
              </div>
              <div class="form grup">
                <input type="text"  class="form-control"  name="addresregister"  required placeholder="Addres"/><br/>
              </div>
              <div class="form grup">
                <input type="text" class="form-control"  name="companynameregister"  required placeholder="Company"/><br/>
              </div>
              <div class="form grup">
                 <input type="text"  class="form-control" name="documentregister"  required placeholder="Document"/><br/>
              </div>
              <div class="form grup">
                <input type="email" class="form-control"  name="emailregister"  required placeholder="Email"/><br/>
              </div>
              <div class="form grup">
                <input type="password"  class="form-control"  name="passwordregister"  required placeholder="Password"/><br/>
              </div> 

              <div class="checkbox">
                <label>
                  <input type="checkbox"> I agree to the <a #">Terms of Service</a> and <a href=".html#">Privacy Policy</a>
                </label>
                </div>
              <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button><br/>

              <hr>
              
          </div>
        </div> 
    </form>



      <!--se muestran los mensajes flash en caso de haberlos-->
    {%with messages = get_flashed_messages(with_categories=true)%}
    <!--se verifica si hay algun mensaje-->
    {%if messages %}
    <!--se constrylle un ciclo para cada mensaje-->
    {% for category, message in messages%}

    <div class="alert {{category}}" id="idMensajeError">
      {{message}}
    </div>
    {%endfor%}
    {%endif%}
    {%endwith%}
  </div> 
</div>
{% endblock %}