

{% extends "layout.html" %}

{% block body %}


<table class="table">
  <thead>
    <tr class="table-light">
      <th scope="col">Nombre Del Evento</th>
      <th scope="col">Fecha Del Evento</th>
        <th scope="col">Editar o elimiar </th>

    </tr>
  </thead>
  <tbody>

  {% for event in events %}


    <tr class="table-success">
      <th scope="row">{{event.1}}</th>
        <td> {{event.2}} </td>
        <td>
            <button type="button" class="btn btn-warning"> <a href="/edit/{{event.0}}">Editar</a></button>
            <button type="button" class="btn btn-danger"><a href="/delete/{{event.0}}">Eliminar</a></button>
        </td>
    </tr>
  {% endfor%}


  </tbody>
</table>

{% endblock %}










