body {
  margin: 50;
  background-image: url("http://3.bp.blogspot.com/-h_vcyY7Hsu0/Uqclbfv8WCI/AAAAAAABNbU/JxzXMFHJJmA/s1600/Wallpapers%2BMinimalistas%2B(5).jpg");
  }


.lead{
font-size: 4.25rem;

}


