
*{
  margin: 0px;
  padding: 0px;
}
.body {
  background-image:url('https://images6.alphacoders.com/774/thumb-350-774373.jpg');
  background-position:center;
  background-size:cover;
  color: #d9edf7;
}
h1{
  color: white;
}

.col-md-5 {
	right: 0;
	color: #FFF;
	background: rgb(0,0,0.5);
  box-shadow:0 0 25px rgb(80, 201, 238);
	padding: 5px;
	border-radius: 20px;
  margin-top: 40px;
}
input[type=form-control] 
{
  border: 1px dotted rgb(0, 0, 0);
  border-radius: 0;
  -webkit-appearance: none;
  
}